#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

P = $(CURDIR)/debian/librt-extension-commandbymail-perl

%:
	dh $@

override_dh_auto_build:
	perl -Idebian Makefile.PL
	$(MAKE)

override_dh_auto_install:
	sed -i "/ExtUtils::Install/ s,/usr/share/request-tracker4,$(P)/usr/share/request-tracker4,g" Makefile
	dh_auto_install
	rm -rf "$(P)/usr/share/request-tracker4/man/perllocal.pod" "$(P)/usr/share/request-tracker4/man/auto/"
	mv "$(P)/usr/share/request-tracker4/man" "$(P)/usr/share/man"
